section {
  column-gap: 1rem;
  columns: 3;
  margin-top: 2rem;
}

p {
  background: #dfdfdf;
  width: 100%;
  border-radius: .5rem;
  padding: .5rem;
}

@media (max-width: 768px) {
  section {
    columns: 2;
  }
}

@media (max-width: 425px) {
  section {
    columns: 1;
  }
}
