form {
  border-radius: .5rem;
  border: 1px solid gray;
  display: flex;
  align-items: center;

  span {
    color: gray;
    font-size: 1.25em;
    padding: .5rem;
  }

  input {
    border-radius: 8px;
    padding: .625rem 0px;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .loader {
    margin: .625rem;
  }

}
