<header class="header">
  <div class="header__left">
    <img
      class="header__logo"
      src="./assets/unsplash-logo.svg"
      alt="My Unsplash Logo"
    />
    <shared-search-bar />
  </div>
  @if (mobile) {
    <shared-button label="Add a photo" (onClick)="openDialog(dialogTemplate)" />
  } @else {
    <shared-button
      btnClass="icon-plus"
      label="+"
      (onClick)="openDialog(dialogTemplate)"
    />
  }
</header>

<!-- Dialog -->
<ng-template #dialogTemplate>
  <h1 class="dialog__title">Add a new photo</h1>
  <div class="dialog__content">
    <form class="dialog__form form" [formGroup]="myForm">
      <div class="form__group">
        <label class="form__label">Label</label>
        <input
          class="form__input"
          placeholder="Quis quis enim est ex voluptate nulla ullamco"
          type="text"
          formControlName="label"
        />
        @if (isValidField('label')) {
          <span class="form__span--error">{{ getFieldError('label') }}</span>
        } @else {
          <span class="form__span"></span>
        }
      </div>
      <div class="form__group">
        <label class="form__label">Photo URL</label>
        <input
          class="form__input"
          placeholder="https://images.unsplash.com/photo-1704189277402-35a0edf7f410"
          type="text"
          formControlName="url"
        />
        @if (isValidField('url')) {
          <span class="form__span--error">{{ getFieldError('url') }}</span>
        } @else {
          <span class="form__span"></span>
        }
      </div>
      <div class="dialog__actions">
        <shared-button
          type="button"
          label="Cancel"
          btnStyle="secondary"
          (onClick)="closeDialog()"
        />
        <shared-button
          type="submit"
          label="Submit"
          (onClick)="submitDialog()"
        />
      </div>
    </form>
  </div>
</ng-template>
