@import url(../../shared/components/dialog/dialog.component.scss);

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 4px;

  .header__left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .header__logo {
    width: 32px;
    height: 32px;
  }
}
