<article class="card">
  <img
    class="card__image animate__animated animate__fadeIn"
    [ngSrc]="img.url"
    [alt]="img.label"
    height="40"
    width="40"
    priority
    (load)="onLoad()"
    (error)="onImageError()"
    [ngStyle]="{display: imageHasLoaded ? '' : 'none'}"
  />
  @if (!imageHasLoaded) {
    <div class="card__loader">
      <img src="assets/loader.svg" />
    </div>
  }
  <div class="card__overlay overlay">
    <button class="overlay__button" (click)="openDialog(dialogTemplate)">
      delete
    </button>
    <p class="overlay__title">{{ img.label }}</p>
  </div>
</article>

<!-- Dialog -->
<ng-template #dialogTemplate>
  <h1 class="dialog__title">Are you sure?</h1>
  <div class="dialog__content">
    <div class="dialog__actions">
      <shared-button
        type="button"
        label="Cancel"
        btnStyle="secondary"
        (onClick)="closeDialog()"
      />
      <shared-button
        type="submit"
        btnStyle="warning"
        label="Delete"
        (onClick)="submitDialog()"
      />
    </div>
  </div>
</ng-template>
